<template>
    <v-container fluid>
        <v-carousel cycle
                    hide-delimiter-background
                    show-arrows-on-hover
                    dark
                    height="600"
        >
            <v-carousel-item
                    v-for="(item,i) in items"
                    :key="i"
                    :src="item.src"
            ></v-carousel-item>
        </v-carousel>
    </v-container>
</template>

<script>
    export default {
        name: 'Home',
        data() {
            return {
                youtube: require('../assets/instagram-sketched.svg'),
                items: [
                    {
                        src: require('../assets/Mountains.jpeg')
                    },
                    {
                        src: require('../assets/Sunset.jpg')
                    },
                    {
                        src: require('../assets/Beach_Selfie.jpeg')
                    },
                    {
                        src: require('../assets/boat.jpg')
                    }
                ]
            }
        }
    }
</script>

