<template>
    <v-container>
        <div style="background-color: black">
            <h1 style="text-align: center; color: white">
                About
            </h1>
            <v-spacer></v-spacer>
            <p class="para">
                Taylor's Tales is an LTD, a brand, and a website. Just like the site Chris Taylor is many things,
                a web developer, a runner, an exercise nut, a film fanatic, a traveller, a fan podcasting,
                a fan of Youtube, I am all and none of these things. Chris Taylor is currently 24 years olds having obtained 4 and
                half years work experience as a developer and a support engineer Chris has now created Taylor's Tales LTD.
            </p>
            <p class="para">
                After spending 4 years in university between 2016 and May 2020 Chris realised that the only person holding
                him back from having multiple income streams was himself. Chris originally didn't have the confidence to
                start creating till he started traveling solo in 2015. Since then He has travelled to 10 different countries
                solo having met many people and opened his mind to new possibilities.
            </p>
            <p class="para" style="padding-bottom: 20px">
                Taylor's Tales is a company that will look to create media, software, websites, and much much more.
                Just like Chris's career, education and life Taylor's Tales LTD is unorthordox in its pursuit of multiple
                passions. This is Taylor's Tales LTD, my name is Christopher James Taylor, and we have some tales to tell.
            </p>
        </div>
    </v-container>
</template>

<script>
    export default {
        name: "about"
    }
</script>

<style scoped>
    .para {
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        display: block;
        font: 20px "lato";
    }

</style>