<template>
    <v-container fluid>
        <v-card>
          <v-card-title>Freaking Film Fanatics is  Coming Soon!</v-card-title>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "film"
    }
</script>

<style scoped>

</style>