<template>
  <div>
    <iframe
        src="https://www.podbean.com/media/player/multi?playlist=http%3A%2F%2Fplaylist.podbean.com%2F9357051%2Fplaylist_multi.xml&amp;vjs=1&amp;size=430&amp;skin=4&amp;episode_list_bg=%23ffffff&amp;bg_left=%23000000&amp;bg_mid=%230c5056&amp;bg_right=%232a1844&amp;podcast_title_color=%23c4c4c4&amp;episode_title_color=%23ffffff&amp;auto=0&amp;share=1&amp;fonts=Helvetica&amp;download=1&amp;rtl=0&amp;show_playlist_recent_number=10"
        title="Taylors Tales"
        width="100%" height="430" scrolling="no" style="border: none;"></iframe>
    <iframe src="https://www.youtube.com/embed/videoseries?list=PLaPG62OYP72BZWxY-gHLSvQg57cUBwC5C"
            title="Taylors Tales"
            allow="autoplay; encrypted-media" width="100%" height="430" scrolling="no" style="border: none;"></iframe>
  </div>


</template>

<script>
export default {
  name: "podcast"
}
</script>

<style scoped>

</style>