<template>
  <v-container fluid>
<!--    <div class="pa-gallery-player-widget" style="width:100%; height:480px; display:none;"-->
<!--         data-link="https://photos.app.goo.gl/njtPJRCm5eu7TWvY8"-->
<!--         data-title="New photo by Chris Taylor">-->
<!--      <object-->
<!--          data="https://lh3.googleusercontent.com/1z3fA3VFOmW_9JV_6jeoiVnNcYmE1qnGYrCGTn72HnUzEO5WSCY-ydEgARAPa9y0it33vdKxNj6o-2Hl67mG9YxN2yAVyScIij5IajrOaDURffm-42XaOKNzeHtgrmsERi6ePIrOag=w1920-h1080"></object>-->
<!--    </div>-->
    <v-timeline>
      <v-timeline-item
          v-for="(year, i) in years"
          :key="i"
          :color="year.color"
          small
      >
        <template v-slot:opposite>
          <span
              :class="`headline font-weight-bold ${year.color}--text`"
              v-text="year.year"
          ></span>
        </template>
        <div class="py-3">
          <h2 :class="`headline font-weight-light mb-3 ${year.color}--text`"><span
              :class="`headline font-weight-bold ${year.color}--text`"
              v-text="year.title"
          ></span></h2>
          <span
              :class="` ${year.color}--text`"
              v-text="year.description"
          ></span>
          <v-spacer/>
          <v-btn v-text="year.photo" v-on:click="photos(year.photo)"></v-btn>
        </div>
        <v-dialog
            v-model="dialog"
            width="500"
        >
          <v-card>
            <v-card-title class="headline grey lighten-2" v-text="photoLocations"></v-card-title>
            <v-carousel cycle
                        hide-delimiter-background
                        show-arrows-on-hover
                        dark
                        height="600"
            >
              <v-carousel-item
                  v-for="(item,i) in items"
                  :key="i"
                  :src="item.src"
              ></v-carousel-item>
            </v-carousel>
          </v-card>
        </v-dialog>
      </v-timeline-item>
    </v-timeline>
  </v-container>
</template>

<script>
export default {
  name: "travel",
  methods: {
    photos(location) {
      this.photoLocations = location;
      if (location == "Photos for Aus & NZ 2015") {
        this.items.pop()
        this.dialog = true;
        this.items = this.AustralianItems;
      } else if (location == "Photos for Rome 2015") {
        this.items.pop()
        this.dialog = true;
        this.items = this.RomeItems;
      } else if (location == 'Photos for Iceland,Canada,US 2016') {
        this.items.pop()
        this.dialog = true;
        this.items = this.icuItems;
      } else if (location == 'Photos for Aus 2017') {
        this.items.pop()
        this.dialog = true;
        this.items = this.ausTwoItems;
      } else if (location == 'Photos for Greece 2018') {
        this.items.pop()
        this.dialog = true;
        this.items = this.greeceItems;
      } else if (location == 'Photos for Asia 2019') {
        this.items.pop()
        this.dialog = true;
        this.items = this.asiaItems;
      }
    }
  },
  data: () => ({
    items: [],
    photoLocations: '',
    dialog: false,
    AustralianItems: [
      {
        src: 'https://www.instagram.com/p/CDgp2c0MyqO/g'
      },
      // {
      //   src: 'https://photos.app.goo.gl/QHUVj4wsMAFAcFzo8'
      // },
      // {
      //   src: 'https://photos.app.goo.gl/3Y7ySonFaSRPDzYT8'
      // },
      // {
      //   src: 'https://photos.app.goo.gl/U5Jh1AkBeo4zxUb99'
      // },
      // {
      //   src: 'https://photos.app.goo.gl/pTM5wXu7MFEKWpjM6'
      // },
      // {
      //   src: 'https://photos.app.goo.gl/A8FBcEdgiWZJcmac9'
      // },
      // {
      //   src: 'https://photos.app.goo.gl/cUZ7g667Jfh8tSPeA'
      // },
      // {
      //   src: 'https://photos.app.goo.gl/BfJwdqT9jsCjPaAr8'
      // },
      // {
      //   src: 'https://photos.app.goo.gl/GZWRd15GTY9vmmkb7'
      // },
      // {
      //   src: 'https://photos.app.goo.gl/ZEaGfPHXLXcoh67T7'
      // },
      // {
      //   src: 'https://photos.app.goo.gl/zV8EnksV6KUimFQZA'
      // },
      // {
      //   src: 'https://photos.app.goo.gl/9sTD7Kjq3Sky5sEU8'
      // },
      // {
      //   src: 'https://photos.app.goo.gl/V5oyExcdkrTyaFf19'
      // },
      // {
      //   src: 'https://photos.app.goo.gl/Zyj1f2AXdmt3FxXB9'
      // },
    ],
    // RomeItems: [
    //   {
    //     src: require('../../assets/Rome/DSC00740.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Rome/DSC00744.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Rome/DSC00747.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Rome/DSC00770.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Rome/DSC00774.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Rome/DSC00782.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Rome/DSC00787.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Rome/DSC00798.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Rome/DSC00812.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Rome/DSC00827.jpeg')
    //   },
    // ],
    // icuItems : [
    //   {
    //     src: require('../../assets/Iceland_Canada_USA/DSC01536.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Iceland_Canada_USA/DSC01550.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Iceland_Canada_USA/DSC01556.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Iceland_Canada_USA/DSC01566.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Iceland_Canada_USA/DSC01589.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Iceland_Canada_USA/DSC01592.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Iceland_Canada_USA/DSC01594.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Iceland_Canada_USA/DSC01609.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Iceland_Canada_USA/DSC01616.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Iceland_Canada_USA/DSC01622.jpeg')
    //   },{
    //     src: require('../../assets/Iceland_Canada_USA/DSC01626.jpeg')
    //   },
    //   {
    //     src: require('../../assets/Iceland_Canada_USA/DSC01640.jpeg')
    //   },{
    //     src: require('../../assets/Iceland_Canada_USA/DSC01649.jpeg')
    //   },{
    //     src: require('../../assets/Iceland_Canada_USA/DSC01657.jpeg')
    //   },{
    //     src: require('../../assets/Iceland_Canada_USA/DSC01662.jpeg')
    //   },{
    //     src: require('../../assets/Iceland_Canada_USA/DSC01668.jpeg')
    //   },{
    //     src: require('../../assets/Iceland_Canada_USA/DSC01669.jpeg')
    //   }, {
    //     src: require('../../assets/Iceland_Canada_USA/DSC01688.jpeg')
    //   },{
    //     src: require('../../assets/Iceland_Canada_USA/DSC01693.jpeg')
    //   },{
    //     src: require('../../assets/Iceland_Canada_USA/DSC01719.jpeg')
    //   },{
    //     src: require('../../assets/Iceland_Canada_USA/DSC01720.jpeg')
    //   }, {
    //     src: require('../../assets/Iceland_Canada_USA/DSC01725.jpeg')
    //   },{
    //     src: require('../../assets/Iceland_Canada_USA/DSC01728.jpeg')
    //   },{
    //     src: require('../../assets/Iceland_Canada_USA/DSC01734.jpeg')
    //   },{
    //     src: require('../../assets/Iceland_Canada_USA/DSC01748.jpeg')
    //   },{
    //     src: require('../../assets/Iceland_Canada_USA/DSC01755.jpeg')
    //   },
    // ],
    // ausTwoItems: [
    //     {
    //     src: require('../../assets/Aus_two/20170715_161308.jpg')
    //   },{
    //     src: require('../../assets/Aus_two/20170715_161453.jpg')
    //   },
    //     {
    //     src: require('../../assets/Aus_two/20170715_164125.jpg')
    //   },
    //     {
    //     src: require('../../assets/Aus_two/20170720_164058.jpg')
    //   },
    //     {
    //     src: require('../../assets/Aus_two/20170720_171101.jpg')
    //   },
    //     {
    //     src: require('../../assets/Aus_two/20170721_143150.jpg')
    //   },
    //     {
    //     src: require('../../assets/Aus_two/20170722_141550.jpg')
    //   },
    //     {
    //     src: require('../../assets/Aus_two/20170722_162418.jpg')
    //   },
    //     {
    //     src: require('../../assets/Aus_two/20170722_172209.jpg')
    //   },
    // ],
    // greeceItems : [
    //   {
    //     src: require('../../assets/Greece/20171213_210726.jpg')
    //   },
    //     {
    //     src: require('../../assets/Greece/20171214_080612.jpg')
    //   },
    //     {
    //     src: require('../../assets/Greece/20171214_082905.jpg')
    //   },
    //     {
    //     src: require('../../assets/Greece/20171214_083240.jpg')
    //   },
    //     {
    //     src: require('../../assets/Greece/20171214_083656.jpg')
    //   },
    //     {
    //     src: require('../../assets/Greece/20171214_222332.jpg')
    //   },
    //     {
    //     src: require('../../assets/Greece/20171215_161309.jpg')
    //   },
    //     {
    //     src: require('../../assets/Greece/20171215_221752.jpg')
    //   },
    //     {
    //     src: require('../../assets/Greece/20171216_103206.jpg')
    //   },
    //     {
    //     src: require('../../assets/Greece/20171216_110538.jpg')
    //   },
    // ],
    // asiaItems: [
    //     {
    //     src: require('../../assets/Asia/DSC01916.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC01923.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC01942.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC01960.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC01995.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC02017.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC02077.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC02079.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC02173.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC02223.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC02242.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC01923.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC02339.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC02387.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC02400.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC02402.jpeg')
    //   },
    //     {
    //     src: require('../../assets/Asia/DSC02410.jpeg')
    //   },
    // ],
    years: [
      {
        color: 'black',
        year: 'April 2015',
        title: 'Australia and New Zealand',
        description: '19 years old, minimal travel experience, and my best friend had ' +
            'moved to Australia a year before I decided to take the first step and take the leap to' +
            ' Australia and New Zealand for three weeks.',
        photo: 'Photos for Aus & NZ 2015'
      },
      {
        color: 'black',
        year: 'September 2015',
        title: 'Rome, Italy (Just in case you were thinking of Rome, Kentucky)',
        description: 'After travelling to Aus_and_NZ',
        photo: 'Photos for Rome 2015'
      },
      {
        color: 'black',
        year: 'April 2016',
        title: 'Reykjavik, Iceland, Toronto, Canada, and New York, USA ',
        description: '',
        photo: 'Photos for Iceland,Canada,US 2016'
      },
      {
        color: 'black',
        year: 'July 2017',
        title: 'Victor Harbour, Australia',
        description: '',
        photo: 'Photos for Aus 2017'
      },
      {
        color: 'black',
        year: 'December 2018',
        title: 'Athens, Greece',
        description: '',
        photo: 'Photos for Greece 2018'
      },
      {
        color: 'black',
        year: 'March 2019',
        title: 'Thailand, Cambodia, Vietnam',
        description: '',
        photo: 'Photos for Asia 2019'
      },
    ]
  }),
}
</script>

<style scoped>

</style>