<template>
    <v-container grid-list-md text-xs-center fluid>
        <v-layout row wrap>
            <v-flex xs12>
                <h3 style="font-family: fantasy; font-size:
                    20px;text-transform: uppercase;color: black">
                    Taylor's Tales Skill set consists of:</h3>
                <v-row>
                    <v-col>
                        <v-card max-width="300">
                            <v-img
                                    max-width="300"
                                    max-height="300"
                                    src="../../assets/vue_js.jpg"></v-img>
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card max-width="300">
                            <v-img
                                    max-width="300"
                                    max-height="175"
                                    src="../../assets/Python_logo.png"></v-img>
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card max-width="300">
                            <v-img
                                    max-width="300"
                                    max-height="175"
                                    src="../../assets/mysql.png"></v-img>
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card max-width="300">
                            <v-img
                                    max-width="300"
                                    max-height="300"
                                    src="../../assets/docker.jpg"></v-img>
                        </v-card>
                    </v-col>
                </v-row>
            </v-flex>
            <v-flex xs12>
                <h3 style="font-family: fantasy; font-size:
                    20px;text-transform: uppercase;color: black">
                    Taylor's Tales Has worked with:</h3>
                <v-row>
                    <v-col>
                        <v-card max-width="300">
                            <v-img
                                    max-width="300"
                                    max-height="300"
                                    src="../../assets/fujitsu.jpg"></v-img>
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card max-width="300">
                            <v-img
                                    max-width="300"
                                    max-height="300"
                                    src="../../assets/vertex.png"></v-img>
                        </v-card>
                    </v-col>
                </v-row>
            </v-flex>
            <v-flex xs12>
                <v-card>
                    <v-container>
                        <h1>Enquire or Book Taylor's Tales</h1>
                        <v-card-text>
                            If you want my help or wish for me to consult on a project that could
                            be relevant to my experience and your goals please fill out the form below.
                        </v-card-text>
                        <v-form>
                            <v-text-field label="Name" v-model="emailUserName"></v-text-field>
                            <v-select label="Type of enquiry" :items="enquiry" v-model="emailSubject"></v-select>
                            <v-text-field label="Your Email" v-model="emailName"></v-text-field>
                            <v-textarea label="question, Message, enquiry" v-model="emailBody">
                            </v-textarea>
                            <v-btn v-on:click="sendEmail">Submit</v-btn>
                        </v-form>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "webDev",
        data: () => ({
            enquiry: ['Full site creation','Consultancy','Part Creation','Message','Fitness specific'],
            emailName: '',
            emailSubject: '',
            emailUserName: '',
            emailBody: '',
        }),
        methods: {
            sendEmail() {
                let data = {
                    'sender': this.emailName,
                    'subject': this.emailSubject,
                    'sender_name': this.emailUserName,
                    'body': this.emailBody,
                }
                console.log(data)
                this.$store.dispatch('webDev/email', data).then((response) => {
                    if (response) {
                        console.log('testy')
                    } else {
                        // eslint-disable-next-line no-console
                        console.log("error");
                    }
                });
            },
        },
    }
</script>

<style scoped>

</style>