<template xmlns:https="http://www.w3.org/1999/xhtml">
    <v-app style="background-color: darkgrey">
        <v-container fluid>
            <v-toolbar dark>
                <v-toolbar-title class="site-header_logo-link">
                    Taylor's Tales
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <a class="links" href="/">Home</a>
                <v-spacer></v-spacer>
                <a class="links" href="/#/podcast">Podcast</a>
                <v-spacer></v-spacer>
                <a class="links" v-on:click="fitness()">Fitness</a>
                <v-spacer></v-spacer>
                <a class="links" href="/#/webDev">Web Development</a>
                <v-spacer></v-spacer>
                <a class="links" href="/#/film">Film Fanatics</a>
                <v-spacer></v-spacer>
                <a class="links" href="/#/travel">Travel</a>
                <v-spacer></v-spacer>
                <a class="links" href="/#/about">About</a>
                <v-spacer></v-spacer>
                <a v-on:click="instagram" class="fa fa-instagram"></a>
                <v-spacer></v-spacer>
                <a v-on:click="youtubeLink" class="fa fa-youtube"></a>
                <v-spacer></v-spacer>
                <a v-on:click="linkedin" class="fa fa-linkedin"></a>
            </v-toolbar>
        </v-container>
        <v-main>
            <!-- Provides the application the proper gutter -->
            <v-container fluid>
                <!-- If using vue-router -->
                <link rel="stylesheet"
                      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <router-view></router-view>
            </v-container>
        </v-main>
        <v-container fluid>
            <v-footer dark>
                <div>A Taylor's Tales Production</div>
                <v-spacer></v-spacer>
                <div>Version 1.0.0</div>
                <v-spacer></v-spacer>
                <div>&copy; Taylor's Tales LTD {{ new Date().getFullYear() }}</div>
            </v-footer>
        </v-container>
    </v-app>
</template>

<script>

    export default {
        name: 'App',
        data() {
            return {}
        },
        methods: {
            fitness() {
                location.replace("https://freefitness.dev/")
            },
            instagram() {
                location.replace("https://www.instagram.com/taylorstales1/")
            },
            youtubeLink() {
                location.replace("https://www.youtube.com/channel/UCE4JpOevsm_xPG2qM5DJJwA")
            },
            linkedin() {
                location.replace("https://www.linkedin.com/in/chris-taylor-a68803155/")
            },
        }
    };
</script>

<style scoped>
    .h1 a {
        color: inherit;
        text-decoration: none;
        font-weight: inherit;
    }

    .site-header {
        height: 65px;
        overflow: visible;
        top: 0;
    }

    .links {
        color: white;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        font: 16px "lato";
    }

    .site-header_logo-link {
        display: inline-block;
        word-break: break-word;
        font-family: fantasy;
        font-size: 50px;
        text-transform: uppercase;
        color: rgba(231, 226, 222, .96);
    }

    .fa {
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

    .fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

</style>
